@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply normal-case flex-nowrap;
}

.floating-label {
  @apply absolute text-xl pointer-events-none text-primary-focus duration-100 transform -translate-y-2 scale-75 top-2 left-3 z-10 px-1 origin-[0] peer-placeholder-shown:text-neutral-content peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-7 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-2 peer-focus:text-primary-focus;
}

.input {
  @apply !min-h-[3.5rem] !max-h-64 bg-base-200;
}

.floating-input {
  @apply input pt-6 pb-2;
}
